* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #404040;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #404040;
  padding: 0px;
  justify-content: space-between;
}

/*nav*/
.nav {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #bb4930;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 30px;
}

.navbar-nav {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-collapse {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

/*kereső*/
.searchbar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 10px;
  max-width: 1000px;
}

.searchbar form {
  justify-content: center;
}

.searchbar input {
  border-radius: 10px 0px 0px 10px;
  background: #d9d9d9;
  height: 50px;
  margin: 0;
}

.search-btn,.search-btn:hover{
  border-radius: 0px 10px 10px 0px;
  background: #241f1f;
  height: 50px;
  margin: 0;
  width: 75px;
  color: white;

}

.search-btn i{
  font-size: 25px;
}

/*logo*/
.nav img {
  border-radius: 10px;
  max-width: 100px;
  margin: 5px;
}

.keplink {
  text-decoration: none;
  color: inherit;
}

.keplink:hover {
  text-decoration: none;
  color: inherit;
}


#felhasznalo-box, #log_reg{
  min-width: 250px;
  margin-right: 10px;
}

#felhasznalo-box span {
  color: white;
}

.dropdown-menu {
  background: #241f1f;
  width: 100%;
}

.dropdown-menu li{
  max-height: 50px;
  font-size: 20px;
}

.dropdown{
  cursor: pointer;
}

#dropdownMenuButton1,#dropdownMenuButton2 {
  width: 100%;
  min-width:50px;
  background: inherit;
  border: none;
  box-shadow: none;
  height: 70px;
  font-size: 25px;
  padding: 0px;
}

#dropdownMenuButton1 p {
  margin: 5px;
}

#dropdownMenuButton1 img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

#felhasznalo-box ul {
  list-style: none;
}

#profile,
#profile:hover {
  background: #241f1f;
}

#profile img {
  width: 30px;
}


#felhasznalo-box li {
  color: white;
  background-color: #241f1f;

}

#felhasznalo-box li:hover {
  color: #fff;
  background-color: #404040;
}


#felhasznalo-kep {
  width: 50px;
  height: 50px;
}

#felhasznalo {
  color: #fff;
  padding-top: 0.3vh;
}

/* vissza az oldal tetejére */
#vissza-gomb {
  background-color: #bb4930;
  border: 2px solid #000;
  color: #000;
  font-size: 3vh;
  width: 7vh;
  height: 7vh;
  margin-top: 2.5vh;
  border-radius: 50%;
  cursor: pointer;

  position: fixed;
  bottom: 30px;
  right: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#log_reg {
  cursor: pointer;
}

#log_reg li:hover {
background-color: #241f1f;
}


#log_reg button {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 100%;
  border: none;
  background: #241f1f;
}

h2 {
  text-align: center;
}

h2,
form .mb-3,
p {
  color: white;
}

/* 
slide
*/
.slide {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 900px;
  min-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.akciosar {
  font-size: 20pt;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow .card {
  background-color: #241f1f;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: large;
  text-align: center;
}

.main .card {
  background-color: #241f1f;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: larger;
  text-align: center;
}

.carousel-inner img {
  border: #000 solid 1px;
  min-width: 300px;
  min-height: 300px;
  max-height: 600px;
  overflow: hidden;

}

#hozzadas,
#hozzadas:focus,
#hozzadas:hover {
  background-color: #95e72d;
  color: #000;
  border: 0;
  border-radius: 10px;
}

/* lábléc */
.lab {
  position: relative;
  bottom: 0;
  width: 100%;
}

#lablec {
  height: 100px;
  background: #241f1f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  width: 100%;
}