* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #404040;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #404040;
  padding: 0px;
  justify-content: space-between;
}

.navbar-nav{
  display: flex;
  flex-grow: 1;
  width: 100%;
}

/*nav*/
.nav {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #bb4930;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000 solid 1px;
  margin-top: 30px;
}

.navbar-nav{
 justify-content: space-between;  
}

.navbar-collapse{
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
}

/*kereső*/
.searchbar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 10px;
  max-width: 1000px;
}

.searchbar form {
  flex-grow: 1;
  display: flex;
}

.searchbar input {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #000;
  background: #d9d9d9;
  height: 40px;
  margin: 0;
}

.searchbar button {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #000;
  background: #241f1f;
  height: 40px;
  margin: 0;
}
/*logo*/
.nav img {
  border-radius: 10px;
  max-width: 100px;
  border: solid #fff 1px;
  margin: 5px;
}

.keplink {
  text-decoration: none;
  color: inherit;
}

.keplink:hover {
  text-decoration: none;
  color: inherit;
}

#felhasznalo-box {
  background-color: #241f1f;
  width: 15vh;
  height: 12.5vh;
  margin-top: 2.5vh;
  border-top-left-radius: 4vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: #000 1px solid;
  display: none;
}

#felhasznalo-kep {
  width: 50px;
  height: 50px;
}

#felhasznalo {
  color: #fff;
  padding-top: 0.3vh;
}

#kosar-box {
  background-color: #241f1f;
  border: 0.2vh solid #000;
  color: #fff;
  font-size: 3vh;
  width: 7vh;
  height: 7vh;
  margin-top: 2.5vh;
  border-radius: 50%;
  cursor: pointer;

  position: fixed;
  top: 250px;
  right: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#kosar-box a{
  color: white;
}

/* vissza az oldal tetejére */
#vissza-gomb {
  background-color: #bb4930;
  border: 2px solid #000;
  color: #000;
  font-size: 3vh;
  width: 7vh;
  height: 7vh;
  margin-top: 2.5vh;
  border-radius: 50%;
  cursor: pointer;

  position: fixed;
  bottom: 30px;
  right: 5vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/*gombok*/

.log_reg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.log_reg button {
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.log_reg button:hover {
  background-color: #cdcdcd;
  
}

.log_reg a {
  text-align: center;
}



/*menu gombok formázása*/
.gomblink {
  text-decoration: none;
  color: inherit;
  font-size: 12pt;
  font-weight: bold;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gomblink:hover {
  color: #ff4444;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

h2,
form .mb-3,
p {
  color: white;
}



/* 
slide
*/
.slide{
  margin-left: 100px;
  margin-right: 100px;
  max-width: 900px;
  min-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.akciosar{
  font-size:20pt;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #241f1f;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: larger;
  text-align: center;
}


.carousel-inner img {
  border: #000 solid 1px;
  min-width: 300px;
  max-width: 600px;
  min-height: 300px;
  max-height: 600px;
}

#hozzadas ,#hozzadas:focus ,#hozzadas:hover{
  background-color: #95e72d;
  color: #000;
  border: 0;
  border-radius: 10px;
}

/* lábléc */
.lab{
  position: relative;
  bottom: 0;
  width: 100%;
}
#lablec {
  height: 100px;
  background: #241f1f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  width: 100%;
}
