* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#felhasznalo-box {
  background-color: #241f1f;
  width: 15vh;
  height: 12.5vh;
  margin-top: 2.5vh;
  border-top-left-radius: 4vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  display: none;
}

#felhasznalo-kep {
  width: 7vh;
  height: 7vh;
}

#felhasznalo {
  color: #fff;
  padding-top: 0.3vh;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.main-header {
  width: 100%;
}

h1 {
  color: white;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.main-inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
}

.adatok .btn-primary{
  background: #241f1f;
  box-shadow: none;
  border: none;
}
.offcanvas{
  padding: 0px;
  background: #241f1f;
  width: 100%;
}
.offcanvas .szurok{
border: none;
}

.szurok {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: #241f1f;
  padding: 20px;
  border-radius: 10px;
  border: #000 solid 1px;
}

.form-check-input {
  width: 25px;
  height: 25px;
  outline-color: #bb4930;
  margin: 5px;
}

.form-check-input:checked {
  background: #bb4930;
}
.form-check-input:focus {
  border: #bb4930 1px solid;
  box-shadow: none;
}

h2 {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
}

.main a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.945);
}

.arszures{
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid white;
  align-items: center;
}

.ar ,.ar2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ar input ,.ar2 input{
  width: 88px;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  appearance: none;
}

.platform {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-check {
  cursor: pointer;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-check-input {
  width: 25px;
}
.form-check-label {
  display: flex;
  align-items: center;
}

.platform-name {
  padding-top: 5px;
}

#termekContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.termek-lista{
  width: 100%;
  color: white;
  padding: 5px;
}

.card-body{
  width: 100%;
  background-color: rgb(36, 31, 31,75%);
}

.card {
  border: #000 solid 1px;
  max-width: 400px;
  min-width: 300px;
  flex-direction: row;
}
.card a{
  width: 100%;

}
.card img{
  border: #000 solid 1px;
}
