* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#felhasznalo-box {
  background-color: #241f1f;
  width: 15vh;
  height: 12.5vh;
  margin-top: 2.5vh;
  border-top-left-radius: 4vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  display: none;
}

#felhasznalo-kep {
  width: 7vh;
  height: 7vh;
}

#felhasznalo {
  color: #fff;
  padding-top: 0.3vh;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
}

h1 {
  color: white;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.main-inner {
  display: flex;
  align-items: baseline;
}

.szurok {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: #241f1f;
  padding: 10px;
  border-radius: 10px;
  border: #000 solid 1px;
}
.form-check {
  border-radius: 10px;
  background-color: #404040;
  border: #000 solid 1px;
}
.form-check-input {
  width: 25px;
  height: 25px;
  outline-color: #bb4930;
  margin: 5px;
}

.form-check-input:checked {
  background: #bb4930;
}
.form-check-input:focus {
  border: #bb4930 1px solid;
  box-shadow: none;
}

.kategoriak {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

h2 {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
}

.main a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.945);
}

.ar {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ar input {
  width: 88px;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  padding: 10px;
  appearance: none;
}

.platform {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-check {
  cursor: pointer;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-check-input {
  width: 25px;
}
.form-check-label {
  display: flex;
  align-items: center;
}

.platform-name {
  padding-top: 5px;
}

#termekContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding: 5px;
}

.termek-lista{
  width: 100%;
  border-radius: 15px;
  color: white;
  margin: 5px;
  max-width: 450px;
}

.card {
  border: #000 solid 1px;
  margin-right: 10px;
}
.card img{
  border: #000 solid 1px;
}
