*{
    box-sizing: border-box;
    text-transform: uppercase;
}
.container{
    background-color: #404040;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #404040;
    padding: 30px 0px;
    justify-content: space-between;
  }
  .content-container {
    display: flex;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  /*nav*/

.nav{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #BB4930;
    display: flex;
    flex-direction: row;
    border: solid 1px;
    justify-content: space-between;
    align-items: center;
    
}
.searchbar{
    background-color: #BB4930;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    max-width: 700px;
    min-width: 300px;
}

.searchbar form{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.searchbar input{
    border: #000000 1px solid;
}

.nav img{
    border-radius: 10px;
    max-width: 100px;
    border: solid  #fff 1px;
    margin:5px;
}
.keplink{
    text-decoration: none;
    color: inherit;
}
.keplink:hover{
    text-decoration: none;
    color: inherit;
}


/*gombok*/

.log_reg{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.log_reg button{
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    height: 30px;
    margin: 5px;
}
.log_reg a{
    text-align: center;
}

/*menu*/
.bar{
    border: 1px solid rgb(186, 67, 3);
    width: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
    text-align: center;
}
.bar ul{
    border: 1px solid rgb(3, 95, 186);
    width: 150px;
    padding: 5px;
}

.bar li{
    list-style: none;
    border: #000000 1px solid;
    border-radius: 5px;
}
.bar .category{
    color: #ffffff;
    background-color: #241F1F;
}
.bar .options{
    background-color: #8c8c8c;
}

/*menu gombok*/
.gomblink{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
}
.category .gomblink:hover{
    color: #ff4444;
}
.gomblink:hover{
    color: #ff4444;
}
h2{
    text-align: center;
}
h2,form .mb-3,p{
color: white;
}

/* 
slide
*/
.slideshow{
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}