*{
    box-sizing: border-box;
    text-transform: uppercase;
}
.container{
    background-color: #404040;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #404040;
    padding: 30px 0px;
    justify-content: space-between;
  }
  .content-container {
    display: flex;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  /*nav*/

.nav{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #BB4930;
    display: flex;
    flex-direction: row;
    border: solid 1px;
    /*justify-content: space-between; */
    align-items: center;
    
}
.navbar{
    background-color: #BB4930;
}
.nav img{
    border-radius: 10px;
    max-width: 100px;
    border: solid 1px;
    margin-right: 30px;
    
}
.keplink{
    text-decoration: none;
    color: inherit;
}
.keplink:hover{
    text-decoration: none;
    color: inherit;
}
.nav input{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/*gombok*/

.log_reg{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.log_reg button{
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    height: 30px;
    margin: 5px;
}
.log_reg a{
    text-align: center;
}

/*menu*/
.bar{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
    text-align: center;
}
.bar ul{
    width: 150px;
    padding: 5px;
}

.bar li{
    list-style: none;
    border: #000000 1px solid;
    border-radius: 5px;
}
.bar .category{
    color: #ffffff;
    background-color: #241F1F;
}
.bar .options{
    background-color: #8c8c8c;
}