* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    background-color: #717171;
  }
  
  /* navigáció */
  nav {
    width: 100%;
    margin-top: 5vh;
    height: 15vh;
    background-color: #bb4930;
  
    display: flex;
    justify-content: space-between;
  }
  
  #logo {
    width: 10vh;
    height: 10vh;
    margin: 2.5vh 3vh 2.5vh;
    border-radius: 1.5vh;
  }
  
  #nav-belso {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #keresomezo {
    display: flex;
    padding-top: 3vh;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  li {
    list-style-type: none;
    padding: 0.7vh 2.5vh;
    background-color: #241f1f;
    color: #fff;
    border: 2px solid #000;
    border-radius: 0.7vh;
    margin-right: 1vh;
  }
  
  /* magyar */
  #magyar-box {
    position: absolute;
    top: 15.5vh;
    right: 25vh;
    display: flex;
  }
  
  #magyar-zaszlo-box {
    width: 4vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #241f1f;
  }
  
  #magyar-zaszlo-box > div:nth-child(1) {
    height: 1vh;
    background-color: #ff0000;
  }
  
  #magyar-zaszlo-box > div:nth-child(2) {
    height: 1vh;
    background-color: #fff;
  }
  
  #magyar-zaszlo-box > div:nth-child(3) {
    height: 1vh;
    background-color: #00ff00;
  }
  
  #magyar-felirat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: #241f1f;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    padding: 0.5vh;
  }
  
  input[type="search"] {
    outline: none;
    border: 2px solid #000;
    width: 100%;
    padding: 1.7vh;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    outline: none;
    border: 1px solid #241f1f;
    background-color: #241f1f;
    width: 7vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
  }
  
  #felhasznalo-box {
    background-color: #241f1f;
    width: 15vh;
    height: 12.5vh;
    margin-top: 2.5vh;
    border-top-left-radius: 4vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #felhasznalo-kep {
    width: 7vh;
    height: 7vh;
  }
  
  #felhasznalo {
    color: #fff;
    padding-top: 0.3vh;
  }
  
  .main{
    padding-left: 75px;
    padding-right: 175px;
    padding-top: 25px;
  }
  
  .main-header{
    width: 100%;
  }
  
  h1{
    color: white;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  
  .main-inner{
    display: flex;
    align-items: center;
  }
  
  .szurok{
    width: 200px;
    align-self: flex-start;
    font-size: 15px;
    float: left;
  }
  
  .kategoriak{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  h2{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
  }
  
  a:link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.945);
  }
  
  .ar{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  input{
    width: 88px;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
    appearance: none;
  }
  
  span{
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .platform{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.945);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .platform-name{
    padding-top: 5px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid black;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #bb4930;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .eszkoz{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  .termekek{
    width: 722px;
    align-self: flex-start;
    flex-direction: column;
    padding-left: 30px;
  }
  
  /* kosárba */
  #kosar-box {
    background-color: #241f1f;
    border: 0.2vh solid #000;
    color: #fff;
    font-size: 3vh;
    width: 7vh;
    height: 7vh;
    margin-top: 2.5vh;
    border-radius: 50%;
    cursor: pointer;
  
    position: absolute;
    top: 20vh;
    right: 5vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #elrejtettElem {
    display: none;
  }

  /* vissza az oldal tetejére */
  #vissza-box {
    background-color: #bb4930;
    border: 2px solid #000;
    color: #000;
    font-size: 3vh;
    width: 7vh;
    height: 7vh;
    margin-top: 2.5vh;
    border-radius: 50%;
    cursor: pointer;
  
    position: absolute;
    top: 80vh;
    right: 5vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  