/* főoldal */
.szoveg-doboz {
  background-color: #241f1f;
  color: #fff;
  border-radius: 20px;
}

#elerheto {
  color: #95e72d;
}

img{
  margin-bottom: 10px;
}

.w-75{
  margin-top: 30px;
  margin-bottom: 30px;
  }

#add_btn {
  background-color: #95e72d;
  color: #000;
  border: 0;
  border-radius: 10px;
}