* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.main-header {
  width: 100%;
}

h1 {
  color: white;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.main-inner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
}
.offcanvas{
  padding: 0px;
  background: #241f1f;
  width: 100%;
}
.offcanvas .fillter{
border: none;
}

.fillter {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: #241f1f;
  padding: 20px;
  border-radius: 10px;
}

.form-check-input {
  width: 25px;
  height: 25px;
  outline-color: #bb4930;
  margin: 5px;
}

.form-check-input:checked {
  background: #bb4930;
}
.form-check-input:focus {
  border: #bb4930 1px solid;
  box-shadow: none;
}

h2 {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
}

.main a:link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.945);
}

.price_fillter{
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid white;
  align-items: center;
}

.price ,.price2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price input ,.price2 input{
  width: 88px;
  box-sizing: border-box;
  height: 30px;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  appearance: none;
}

.platform {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-check {
  cursor: pointer;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-check-input {
  width: 25px;
}
.form-check-label {
  display: flex;
  align-items: center;
}

.platform-name {
  padding-top: 5px;
}

#productsContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.products-list{
  width: 100%;
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .card {
  min-width: 300px;
  max-width: 700px;
  flex-direction: row;
}

.main .card-body{
  flex-grow: 1;
  width: 100%;
  background-color: #241f1f;
}

.main .card a{
  width: 100%;

}
.main .card img{
  max-width: 350px;
}
