* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #241f1f;
}

.container {
    max-width: 800px;
    margin: auto;
    border: black 1px solid;
}
.header {
    font-weight: bold;
    font-size: 20pt;
    padding: 20px;
    color: white;
    text-align: center;
}

.card {
    min-width: 300px;
    width: 100%;
    display: flex;
    margin-bottom: 1.5em;
    background-color: #404040;
    padding: 0px;
    border: black 1px solid;
    border-radius: 30px;
    padding-right: 10px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    

}

.card button{
    font-weight: bolder;
}

.img-fluid{
    max-height: fit-content;
    max-width: 150px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.card-text {
    font-size: 1.2em;
    color: white;
    padding: 5px;
}

.card .btn {
    margin-left: 10px;
    background-color: #df3333;
    border: #241f1f solid 1px;
    font-size: 20pt;
}
.w-lg-auto{
 max-width: 100px;
}
.card .btn:hover {
    background-color: #e21717;
}

.kosar-vegosszeg {
    margin-top: 10px;
    margin-right: 10px;
}

#vegosszeg{
    font-size: xx-large;
}

.kosar-vegosszeg-title {
    font-weight: lighter;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.kosar-btns {
    display: flex;
    justify-content: space-between;
}

.btn-vissza {
    color: white;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    margin: 40px 0px 80px 0px;
    font-size: 1.75em;
}

.btn-vissza:hover {
    border: 1px solid white;
    background-color: #404040;
}

.btn-rendeles {
    color: black;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    margin: 40px 0px 80px 0px;
    font-size: 1.75em;
}

.btn-rendeles:hover,
.btn-rendeles:focus {
    color: black;
    border: 1px solid black;
    background-color: rgb(139, 185, 45);
}

/* lábléc */
#lablec {
    position: relative;
    height: 100px;
    background: #241f1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    width: 100%;
    bottom: 0;
}