* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
  
body {
    background-color: #404040;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5em;
}

.kosar-header {
    font-weight: bold;
    font-size: 1.25em;
}

.kosar-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.kosar-row {
    display: flex;
}

.kosar-tetel {
    width: 45%;
}

.kosar-ar {
    width: 20%;
    font-size: 1.2em;
}

.kosar-mennyiseg {
    width: 35%;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.kosar-mennyiseg-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.kosar-row:last-child {
    border-bottom: 1px solid black;
}

.kosar-row:last-child .kosar-column {
    border: none;
}

.kosar-vegosszeg {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.kosar-vegosszeg-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.kosar-vegosszeg-ar {
    color: white;
    font-size: 1.1em;
}

.btn-fizetes {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
  
/* lábléc */
#lablec {
    height: 100px;
    background: #241f1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    width: 100%;
}