* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #404040;
}

.container {
    max-width: 800px;
    margin: auto;
}

.cart{
    margin-top: 50px;
    margin-bottom: 50px;
    border: black solid 1px;
    border-radius: 15px;
    background-color: #241f1f;
}
.header {
    font-weight: bold;
    font-size: 20pt;
    padding: 20px;
    color: white;
    text-align: center;
}

.card {
    min-width: 300px;
    width: 100%;
    display: flex;
    margin-bottom: 1.5em;
    background-color: #404040;
    padding: 0px;
    border: black 1px solid;
    border-radius: 30px;
    padding-right: 10px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    

}

.card button{
    font-weight: bolder;
}

.img-fluid{
    max-height: fit-content;
    max-width: 150px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.card-text {
    color: white;
    padding: 5px;
}

.card .btn {
    margin-left: 10px;
    background-color: #df3333;
    border: #241f1f solid 1px;
    font-size: 20pt;
    justify-self: end;
}
.w-lg-auto{
 max-width: 80px;
}
.h-lg-auto{
    max-height: 120px;
}
.card .btn:hover {
    background-color: #e21717;
}

.final-price-div {
    margin-top: 10px;
    margin-right: 10px;
}

#final_price{
    font-size: xx-large;
}

.final_price_text {
    font-weight: lighter;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-btns {
    display: flex;
    margin-top: 1em;
    justify-content: space-around;
}

.btn-back {
    color: white;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    margin: 40px 0px 80px 0px;
    font-size: 1.75em;
    width: 150px;
}

.btn-back:hover {
    border: 1px solid white;
    background-color: #404040;
}

.btn-back a {
    color: #fff;
}

.btn-order {
    color: black;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    margin: 40px 0px 80px 0px;
    font-size: 1.75em;
    width: 150px;
}

.btn-order:hover,
.btn-order:focus ,.btn-order:disabled{
    color: black;
    border: 1px solid black;
    background-color: rgb(139, 185, 45);
}
