* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #717171;
}

/* navigáció */
nav {
  width: 100%;
  margin-top: 5vh;
  height: 15vh;
  background-color: #bb4930;

  display: flex;
  justify-content: space-between;
}

#logo {
  width: 10vh;
  height: 10vh;
  margin: 2.5vh 3vh 2.5vh;
  border-radius: 15px;
}

#nav-belso {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#keresomezo {
  display: flex;
  padding-top: 3vh;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 0.7vh 2.5vh;
  background-color: #241f1f;
  color: #fff;
  border: 1px solid #241f1f;
  border-radius: 0.5vh;
  margin-right: 1vh;
}

input[type="search"] {
  outline: none;
  border: 1px solid #241f1f;
  width: 100%;
  padding: 1.7vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  outline: none;
  border: 1px solid #241f1f;
  background-color: #241f1f;
  width: 7vh;
  border-top-right-radius: 0.5vh;
  border-bottom-right-radius: 0.5vh;
}

#felhasznalo-box {
  background-color: #241f1f;
  width: 15vh;
  height: 12.5vh;
  margin-top: 2.5vh;
  border-top-left-radius: 4vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#felhasznalo-kep {
  width: 7vh;
  height: 7vh;
}

#felhasznalo {
  color: #fff;
  padding-top: 0.3vh;
}
