
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

.feltetelek {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    background: #241F1F;
}