body {
    background: #241F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-popup {
    width: 100%;
    max-width: 400px;
    background: #404040;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.form-content h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-content label {
    color: #fff;
    text-align: left;
}

.form-content .btn-primary {
    background-color: #BB4930;
    border: none;
    margin-top: 20px;
}

.form-content .btn-primary:hover {
    background-color: #712d1e;
}

.form-content .mb-3 input[type="text"],
.form-content .mb-3 input[type="password"] {
    background: none;
    border: 1px solid #717171;
    border-radius: 3px;
    color: white;
    box-shadow: none;
}

a {
    color: #BB4930;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #BB4930;
    text-decoration: underline;
}
